In [61]:
import pandas as pd

Kommun_data = pd.DataFrame({"Kommuna": ["Malmö","Göteborg","Stockholm","Uppsala"],"Poppulari":[347949,583056,975551,233839]})
Kommun_data

#Kommun_data.sort_values("Poppulari", ascending=False)
Kommun_data.sort_values("Poppulari", ascending=False).head(3)

     Kommuna  Poppulari
2  Stockholm     975551
1   Göteborg     583056
0      Malmö     347949

In [62]:
Kommun_data["Kommuna"]

0        Malmö
1     Göteborg
2    Stockholm
3      Uppsala
Name: Kommuna, dtype: object

In [70]:
SE_pop = 10379295
percentage_list = []

for i in range(len(Kommun_data["Poppulari"])):
    x = Kommun_data["Poppulari"][i]/SE_pop
    y = "{:.2f}".format(x)
    percentage_list.append(y)

luista = {"Percente":percentage_list}
print(luista)
#Kommun_data = pd.DataFrame({"Kommuna": ["Malmö","Göteborg","Stockholm","Uppsala"],"Poppulari":[347949,583056,975551,233839],"Percente": percentage_list})
#Kommun_data

Kommun_data["Pece"] = Kommun_data["Poppulari"]/SE_pop*100

Kommun_data

{'Percente': ['0.03', '0.06', '0.09', '0.02']}

     Kommuna  Poppulari Percente      Pece
0      Malmö     347949     0.03  3.352338
1   Göteborg     583056     0.06  5.617491
2  Stockholm     975551     0.09  9.399010
3    Uppsala     233839     0.02  2.252937