In [3]:
#Uppgift 1
import pandas as pd

Kommun_data = pd.DataFrame({"Kommuna": ["Malmö","Göteborg","Stockholm","Uppsala"],"Poppulari":[347949,583056,975551,233839]})
Kommun_data

#Kommun_data.sort_values("Poppulari", ascending=False)
Kommun_data.sort_values("Poppulari", ascending=False).head(3)

     Kommuna  Poppulari
2  Stockholm     975551
1   Göteborg     583056
0      Malmö     347949

In [4]:
Kommun_data["Kommuna"]

0        Malmö
1     Göteborg
2    Stockholm
3      Uppsala
Name: Kommuna, dtype: object

In [5]:
SE_pop = 10379295
percentage_list = []

for i in range(len(Kommun_data["Poppulari"])):
    x = Kommun_data["Poppulari"][i]/SE_pop
    y = "{:.2f}".format(x)
    percentage_list.append(y)

luista = {"Percente":percentage_list}
print(luista)
#Kommun_data = pd.DataFrame({"Kommuna": ["Malmö","Göteborg","Stockholm","Uppsala"],"Poppulari":[347949,583056,975551,233839],"Percente": percentage_list})
#Kommun_data

Kommun_data["Pece"] = Kommun_data["Poppulari"]/SE_pop*100

Kommun_data

{'Percente': ['0.03', '0.06', '0.09', '0.02']}

     Kommuna  Poppulari      Pece
0      Malmö     347949  3.352338
1   Göteborg     583056  5.617491
2  Stockholm     975551  9.399010
3    Uppsala     233839  2.252937

In [79]:
#Uppgift 2

komtopp = pd.read_excel("komtopp50_2020.xlsx")
komtopp.columns
komtopp.rename(dict({"Unnamed: 0" : "2020", "Unnamed: 1" : "2019", "Unnamed: 3" : "helloy"}), axis = "columns")

,2020,2019,Unnamed: 2,helloy,Unnamed: 4,Unnamed: 5
0,NaN,NaN,NaN,NaN,NaN,NaN
1,"Sveriges 50 största kommuner efter folkmängd,",NaN,NaN,NaN,NaN,NaN
2,31 december 2020 jämfört med 31 december 2019,NaN,NaN,NaN,NaN,NaN
3,NaN,NaN,NaN,NaN,NaN,NaN
4,Rang,NaN,Kommun,Folkmängd 31 december,NaN,Förändring
5,2020,2019.0,NaN,2020,2019.0,NaN
6,1,1.0,Stockholm,975551,974073.0,1478
7,2,2.0,Göteborg,583056,579281.0,3775
8,3,3.0,Malmö,347949,344166.0,3783
9,4,4.0,Uppsala,233839,230767.0,3072
10,5,5.0,Linköping,164616,163051.0,1565
11,6,6.0,Örebro,156381,155696.0,685
12,7,7.0,Västerås,155551,154049.0,1502
13,8,8.0,Helsingborg,149280,147734.0,1546
14,9,9.0,Norrköping,143478,143171.0,307
15,10,10.0,Jönköping,142427,141081.0,1346
16,11,11.0,Umeå,130224,128901.0,1323
17,12,12.0,Lund,125941,124935.0,1006
18,13,13.0,Borås,113714,113179.0,535
19,14,14.0,Huddinge,113234,112848.0,386
20,15,15.0,Eskilstuna,106975,106859.0,116
21,16,16.0,Nacka,106505,105189.0,1316
22,17,17.0,Halmstad,103754,102767.0,987
23,18,18.0,Gävle,102904,102418.0,486
24,19,20.0,Södertälje,100111,98979.0,1132
25,20,19.0,Sundsvall,99439,99449.0,-10
26,21,22.0,Växjö,94859,94129.0,730
27,22,21.0,Botkyrka,94847,94606.0,241
28,23,23.0,Karlstad,94828,93898.0,930
29,24,24.0,Haninge,93690,92095.0,1595
30,25,25.0,Kristianstad,86217,85747.0,470
31,26,26.0,Kungsbacka,84930,84395.0,535
32,27,27.0,Solna,83162,82429.0,733
33,28,28.0,Järfälla,81274,79990.0,1284
34,29,29.0,Luleå,78549,78105.0,444
35,30,30.0,Sollentuna,73990,73857.0,133
36,31,31.0,Skellefteå,72840,72589.0,251
37,32,32.0,Täby,72755,71874.0,881
38,33,33.0,Kalmar,70329,69467.0,862
39,34,34.0,Mölndal,69901,69364.0,537
40,35,35.0,Karlskrona,66515,66622.0,-107
41,36,36.0,Varberg,65397,64601.0,796
42,37,37.0,Östersund,63985,63779.0,206
43,38,38.0,Norrtälje,63673,62622.0,1051
44,39,39.0,Gotland,60124,59686.0,438
45,40,40.0,Falun,59528,59406.0,122
46,41,41.0,Trollhättan,59249,59058.0,191
47,42,43.0,Nyköping,57071,56591.0,480
48,43,44.0,Skövde,56791,56366.0,425
49,44,42.0,Uddevalla,56787,56703.0,84
50,45,45.0,Örnsköldsvik,55807,55998.0,-191
51,46,47.0,Sundbyberg,52801,52414.0,387
52,47,46.0,Borlänge,52394,52590.0,-196
53,48,48.0,Hässleholm,52010,52145.0,-135
54,49,49.0,Sigtuna,49537,48964.0,573
55,50,50.0,Tyresö,48678,48333.0,345