In [40]:
import pandas as pd
import numpy as np


link = "https://sv.wikipedia.org/wiki/Sveriges_demografi"
svedemo = pd.read_html(link, match = "Befolkningsförändringar")[0]


#pd.to_numeric(svedemo["Döda"])
#svedemo.info()
svedemo.head(3)

,Unnamed: 0,Folkmängd,Födda,Döda,Befolkningsförändringar,Nativiteten (per 1000),Dödstalen (per 1000),Befolkningsförändringar (per 1000),Total fertilitet
0,1900,5 117 000,138 139,86 146,51 993,270,168,102,402
1,1901,5 156 000,139 370,82 772,56 598,270,161,110,404
2,1902,5 187 000,137 364,79 722,57 642,265,154,111,395

In [41]:
svedemo = svedemo.rename(dict({"Unnamed: 0" : "År",}), axis = "columns")

In [91]:
link = "https://sv.wikipedia.org/wiki/Sveriges_demografi"
svedemo_old = pd.read_html(link, header=1, skiprows=[12], match = "Vid utgången av år")[0]
svedemo_old

svedemo_old.drop(columns=["Totalt","Promille"], inplace = True)

svedemo_old

   Vid utgången av år   Folkmängd
0                1570     900 000
1                1650   1 225 000
2                1700   1 485 000
3                1720   1 350 000
4                1755   1 878 000
5                1815   2 465 000
6                1865   4 099 000
7                1900   5 140 000
8                2000   8 861 000
9                2020  10 379 000