In [50]:
import pandas as pd
import seaborn as sns
import numpy as np

smittodata = pd.ExcelFile("Folkhalsomyndigheten_Covid19.xlsx")
smittodata_veckodata_riket = pd.read_excel(smittodata, 'Veckodata Riket')
smittodata_veckodata_riket.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 89 entries, 0 to 88
Data columns (total 13 columns):
 #   Column                          Non-Null Count  Dtype
---  ------                          --------------  -----
 0   år                              89 non-null     int64
 1   veckonummer                     89 non-null     int64
 2   Antal_fall_vecka                89 non-null     int64
 3   Antal_fall_100000inv_vecka      89 non-null     int64
 4   Antal_fall_100000inv_14dagar    89 non-null     int64
 5   Kum_antal_fall                  89 non-null     int64
 6   Kum_fall_100000inv              89 non-null     int64
 7   Antal_nyaintensivvårdade_vecka  89 non-null     int64
 8   Kum_antal_intensivvårdade       89 non-null     int64
 9   Antal_avlidna_vecka             89 non-null     int64
 10  Antal_avlidna_milj_inv_vecka    89 non-null     float64
 11  Kum_antal_avlidna               89 non-null     int64
 12  Kum_antal_avlidna_milj_inv      89 non-null     float64
dtypes: float64(2), int64(11)
memory usage: 9.2 KB

In [42]:
smittodata_veckodata_riket.describe()

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
count,89.000000,89.000000,89.000000,89.000000,89.000000,8.900000e+01,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000,89.000000
mean,2020.460674,25.584270,13061.865169,126.011236,251.584270,4.885261e+05,4709.325843,88.606742,4261.741573,167.910112,16.233708,8923.303371,860.923595
std,0.501275,13.713637,14210.652869,137.184472,272.989003,4.559136e+05,4391.041264,83.646662,2609.965149,204.302952,19.765609,5126.703711,493.286226
min,2020.000000,1.000000,0.000000,0.000000,0.000000,1.000000e+00,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,2020.000000,14.000000,2179.000000,21.000000,46.000000,7.279100e+04,705.000000,14.000000,2491.000000,17.000000,1.600000,5621.000000,544.299988
50%,2020.000000,25.000000,4608.000000,44.000000,100.000000,3.380260e+05,3273.000000,59.000000,3638.000000,82.000000,7.900000,8135.000000,787.700012
75%,2021.000000,36.000000,25405.000000,246.000000,485.000000,1.044862e+06,10067.000000,153.000000,7348.000000,235.000000,22.799999,14416.000000,1388.900024
max,2021.000000,53.000000,46177.000000,447.000000,869.000000,1.162506e+06,11200.000000,289.000000,7886.000000,664.000000,64.300003,14944.000000,1439.800049

In [58]:
smittodata_veckodata_riket['år'] = smittodata_veckodata_riket['år'].apply(str)
smittodata_veckodata_riket['veckonummer'] = smittodata_veckodata_riket['veckonummer'].apply(str)
smittodata_veckodata_riket["år"] = smittodata_veckodata_riket["år"]+"v"+smittodata_veckodata_riket["veckonummer"]
#smittodata_veckodata_riket.rename()
#smittodata_veckodata_riket.drop("veckonummer")
smittodata_veckodata_riket

,år,veckonummer,Antal_fall_vecka,Antal_fall_100000inv_vecka,Antal_fall_100000inv_14dagar,Kum_antal_fall,Kum_fall_100000inv,Antal_nyaintensivvårdade_vecka,Kum_antal_intensivvårdade,Antal_avlidna_vecka,Antal_avlidna_milj_inv_vecka,Kum_antal_avlidna,Kum_antal_avlidna_milj_inv
0,2020v6v6v6v6v6v6v6v6,6,1,0,0,1,0,0,0,0,0.0,0,0.000000
1,2020v7v7v7v7v7v7v7v7,7,0,0,0,1,0,0,0,0,0.0,0,0.000000
2,2020v8v8v8v8v8v8v8v8,8,0,0,0,1,0,0,0,0,0.0,0,0.000000
3,2020v9v9v9v9v9v9v9v9,9,13,0,0,14,0,0,0,0,0.0,0,0.000000
4,2020v10v10v10v10v10v10v10v10,10,211,2,2,225,2,3,3,0,0.0,0,0.000000
...,...,...,...,...,...,...,...,...,...,...,...,...,...
84,2021v37v37v37v37v37v37v37v37,37,6266,60,137,1145764,11039,24,7823,52,5.0,14807,1426.599976
85,2021v38v38v38v38v38v38v38v38,38,4298,41,101,1150062,11080,21,7844,40,3.9,14847,1430.400024
86,2021v39v39v39v39v39v39v39v39,39,4241,41,82,1154303,11121,17,7861,37,3.6,14884,1434.000000
87,2021v40v40v40v40v40v40v40v40,40,4141,40,81,1158444,11161,15,7876,42,4.0,14926,1438.099976
88,2021v41v41v41v41v41v41v41v41,41,4062,39,79,1162506,11200,10,7886,18,1.7,14944,1439.800049